/* Custom CSS overrides */
/* Header section */
#header-top {
  background-color: rgba(45, 45, 48, 0.75);
  color: #fff;
  padding: 0.75em 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  max-height: 75px;
}
.toolbar-tray-open #header-top {
  margin-top: 79px;
}
#header-top .region-header-top-right {
  width: 100%;
}
#header-top .region-header-top-right:after{
  content:"";
  display:table;
  clear:both;
}

/* Language switcher */
#header-top #block-languageswitcher {
  float: left;
  margin: 0 15px 0 0;
  clear: none;
}
#header-top #block-languageswitcher .content {
  display: block;
  height: auto;
}
#header-top #block-languageswitcher .content::before,
#header-top #block-languageswitcher .content::after,
#header-top #block-languageswitcher .links::before,
#header-top #block-languageswitcher .links::after {
  display: table;
  content: " ";
}
#header-top #block-languageswitcher .links {
  padding: 0;
  margin: 0;
  list-style: none;
  float: right;
}
#header-top #block-languageswitcher .links li {
  list-style: none;
  float: left;
  border-right: 1px solid #fff;
  flex-grow: 1;
  flex-basis: auto;
  margin: 0 0.75em 0 0;
  padding: 0 0.75em 0 0;
  text-align: center;
}
#header-top #block-languageswitcher .links li:last-child {
  border-right:none;
}
#header-top #block-languageswitcher .links a {
  color: #fff;
  display: block;
  padding: 7px 0;
}

/* Main navigation */
#header-top .navigation.menu--main {
  float: none;
  clear: none;
  margin: 0;
}
#header-top #navbar,
#header-top .navbar{
  margin: 0;
  min-height: inherit;
}
#header-top .navigation.menu--main .navbar-toggle {
  margin-top: 3px;
  margin-right: 15px;
  margin-bottom: 5px;
  padding: 0;
}
#header-top .navigation.menu--main .navbar-toggle .icon-bar {
  border: 2px solid #fff;
}
#header-top .navigation.menu--main .navbar-collapse {
  color: #fff;
}
#header-top .navigation.menu--main .navbar-collapse.in {
  background-color: rgba(45, 45, 48, 1);
}
#header-top ul.navbar-nav {
  list-style: none outside;
  padding: 0;
  margin: 0 0 0 1em;
  text-align: left;
}
#header-top ul.navbar-nav li {
  background: none;
  list-style-type: none;
  border: none;
  padding: 0;
  margin: 0;
}
#header-top ul.navbar-nav li a,
#header-top ul.navbar-nav li span {
  text-transform: uppercase;
  font-weight: 700;
  padding: 7px 20px;
  font-size: 14px;
  line-height: 150%;
  cursor: pointer;
}
#header-top ul.navbar-nav li > a,
#header-top ul.navbar-nav li > span {
  position: relative;
  display: block;
  color: #fff;
}
#header-top ul.navbar-nav li > a:hover,
#header-top ul.navbar-nav li > span:hover {
  background: none;
  color: #808080;
}
#header-top ul.navbar-nav li > .is-active,
#header-top ul.navbar-nav li.active a,
#header-top ul.navbar-nav li.active span {
  color: #a0a0a0;
}
#header-top ul.menu li span.caret,
#header-top ul.navbar-nav li span.caret {
  padding: 0;
}
#header-top ul.navbar-nav .dropdown-menu li a {
  color: #2d2d30;
}
#header-top .navigation.menu--main .navbar-collapse.in .dropdown-menu li {
  padding-left: 1em;
}
#header-top .navigation.menu--main .navbar-collapse.in .dropdown-menu li a {
  color: #fff;
}
#header-top ul.navbar-nav .dropdown-menu li a:hover,
#header-top ul.navbar-nav .dropdown-menu li span:hover {
  background: #2d2d30;
  color: #fff;
}
#header-top ul.navbar-nav .dropdown-menu > .active > a,
#header-top ul.navbar-nav .dropdown-menu > .active > a:focus,
#header-top ul.navbar-nav .dropdown-menu > .active > a:hover,
#header-top ul.navbar-nav .dropdown-menu > .active > span.dropdown-toggle,
#header-top ul.navbar-nav .dropdown-menu > .active > span.dropdown-toggle:focus,
#header-top ul.navbar-nav .dropdown-menu > .active > span.dropdown-toggle:hover {
  background: #2d2d30;
  color: #fff;
}
#header-top .navigation.menu--main .navbar-collapse.in .dropdown-menu > .active > a,
#header-top .navigation.menu--main .navbar-collapse.in .dropdown-menu > .active > a:focus,
#header-top .navigation.menu--main .navbar-collapse.in .dropdown-menu > .active > a:hover {
  color: #a0a0a0;
}

/* Banner section */
#banner {
  min-height: 400px;
  padding-top: 90px;
}
#banner .banner-text {
  color: white;
  text-transform: uppercase;
  padding: 0 2em;
}
#banner .banner-btns {
  padding: 2em 0;
  font-size: 1.5em;
  color: #fff;
}
#banner .banner-btns ul {
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
#banner .banner-btns ul li {
  list-style-type: none;
  margin: 0.5em;
  padding: 0;
  border: none;
  text-align: center;
  display: inline-block;
}
#banner .banner-btns ul a {
  display: block;
  padding: .5em 1em;
  border-radius: .25rem;
  color: #fff;
  cursor: pointer;
  background-color: #2d2d30;
}
#banner .banner-btns ul a:hover {
  text-decoration: none;
  background-color: #4b4848;
}
/* Main content */
#block-pagetitle {
  clear: both;
}
.region-content #block-contactus {
  padding-left: 40px;
  padding-right: 40px;
}
.col-md-6 {padding-bottom: 1em;}
.col-md-6:last-child {padding-bottom: 0;}

/* News listing */
.news-listing .views-row {
  margin-bottom: 2em;
}
.news-listing .views-row:after {
  display: block;
  clear: both;
  content: "";
  position: relative;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 70%;
  border-bottom: 3px solid #2d2d30;
  padding: 1em 0;
}
.news-listing .views-row:last-child:after {
  border: none;
}
.news-listing .post-header {
  margin: 0 0 1.5em;
}

/* Full width content */
#full-width-content {
  background-color: rgba(45, 45, 48, 0.9);
  color: #fff;
}
#full-width-content .region-full-width-content {
  padding-top: 2em;
  padding-bottom: 2em;
}
#full-width-content .region-full-width-content .block,
#full-width-content .node__content {
  padding-bottom: 0;
}

/*  Featured pages block  */
#promoted #full-width-content .region-promoted {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}
#promoted .block {
  padding: 0;
}
#promoted .block-views-blockfeatured-pages-block-featured h2 {
  margin: 1em 0;
  font-size: 20px;
  text-align: center;
}
#promoted .featured-pages-block .featured-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-evenly;
  text-align: center;
}
#promoted .featured-pages-block .featured-list li {
  margin: auto;
  list-style: none;
  padding: 1em;
}
#promoted .featured-pages-block .item-image img {
  display: inline-block;
  margin: 0;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  border-radius: 1000px;
  max-width: 100%;
  height: auto;
}

.featured-pages-block .view-content a,
.featured-pages-block .view-content a:hover {
  color: #fff;
}

/* Second sidebar */
#sidebar-second,
#sidebar-second a,
#sidebar-second a:hover {
  color: #444;
}

@media all and (min-width: 461px) and (max-width: 900px) {
  #header-top .navigation.menu--main {
    float: right;
    clear: none;
    margin: 0;
  }
}

@media all and (min-width: 901px) {
  #header-top .navigation.menu--main {
    float: right;
    clear: none;
    margin: 0;
  }
  .news-listing .post-header h3 {
    margin: 0 2em 0 0;
    float: left;
  }
  .news-listing .post-header .post-date {
    float: right;
  }
  .col-md-6 {padding-bottom: 0;}
  #full-width-content .node__content {
    padding-bottom: 10px;
  }
  .region-content #block-contactus {
    float: left;
    width: 60%;
    padding-left: 40px;
    margin-right: 60px;
  }
}
